 body{
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRymC0Uzsk6DC71y6IjknYLnDsneo8do2VidwlYFUwA-kg9-JDSdsNisUtPjwj6Gvlz_uc&usqp=CAU);
	background-repeat: no-repeat;
	background-attachment: fixed;
  	/*background-position: center;*/
	background-size: 300px 300px;

}
